<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
        <form action="/users/register" method="POST">
          <div class="form-group">
            <label for="name">Venue Name</label>
            <input
              type="text"
              id="venueName"
              name="Venue name"
              class="form-control"
              placeholder="Enter Name"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />

            <label for="name">City</label>
            <input
              type="text"
              id="city"
              name="city"
              class="form-control"
              placeholder="Enter the city"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />

            <label for="name">Zip Code</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter Name"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />

            <label for="name">Venue Name</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter Name"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          
          <button type="submit" class="btn btn-primary btn-block">
            Register
          </button>
        </form>
      </div>
    </div>
  </div>